@import '../../styles/icon';
@import '../../styles/color';

.item-bill,
.box-timeline {
  padding-left: 70rpx;
}

.item-bill {
  margin: 60rpx 0;

  .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
    margin-bottom: 15rpx;

    .budget {
      font-size: 32px;
      color: #666666;
    }
  }

  .box-bottom {
    display: flex;
    align-items: center;
    font-size: 24rpx;
    color: #999999;

    .remark {
      flex: 1;
      color: #999999;
      font-size: 24px;
      margin-right: 70rpx
    }

    .userInfo {
      flex-shrink: 0;
      display: flex;
      align-items: center;

      .nickname {
        font-size: 24px;
        color: #999999;
      }

      image {
        margin-right: 6rpx;
      }
    }
  }
}

.box-timeline {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 32rpx;

  .time {
    position: absolute;
    top: 0;
    left: 0;
    color: $primary;
    font-size: 36px;
    font-weight: bold;
  }

  .line {
    position: relative;
    flex: 1;
    height: 6px;
    background: $primary;
    margin: 0 10px;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $primary;
    }
  }

  .total {
    font-size: 36px;
    font-weight: bold;
    color: #666666;
  }
}

.box-header {
  position: relative;
  height: 534rpx;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .box-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
  }

  global-date-picker {
    display: block;
    margin-top: 68rpx;
  }

  .box-head {
    display: flex;
    align-items: stretch;
    margin: 80rpx 0 85rpx;
    height: 120rpx;

    .item {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-child {
        &:after {
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          width: 2px;/*px*/
          height: 100%;
          background: #fff;
        }
      }

      .name {
        margin-bottom: 10rpx;
        font-size: 28px;
        line-height: 40px;
      }

      .total {
        font-size: 56px;
        line-height: 65px;
      }
    }
  }

  .btn-record {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    background:none;

    image {
      width: 100%;
      height: 100%;
    }
  }
}

.box-list {
  padding: 0 30px;
  margin-top: 60rpx;
  border-bottom: 1px solid transparent;
}

.box-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #999999;
  margin-top: 134px;

  image {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
    vertical-align: top;
  }

  .filter-btn {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1PX solid $primary;
    margin-top: 30px;
    border-radius: 3px;
    color: $primary;
  }
}

.box-filter {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  .content {
    display: flex;
    align-items: center;
    color: #666666;
    font-size: 32px;

    &.active {
      color: $primary;
    }

    image {
      margin-left: 4px;
    }
  }
}

.actionsheet-filter {
  display: flex;
  flex-direction: column;

  .content {
    box-sizing: border-box;
    padding: 40px 20px;
    flex: 1;
  }

  .footer {
    display: flex;
    height: 100px;

    .btn {
      flex: 1;
      line-height: 100px;
      font-size: 32px;
      text-align: center;
      background: #EFECEC;
      color: #999999;

      &:last-child {
        background: $primary;
        color: #fff;
      }
    }
  }

  .box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    margin-bottom: 5px;

    .title {
      color: #666666;
      font-weight: bold;
    }

    .reset {
      color: $primary;
    }
  }

  .box-item {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;

    .item {
      position: relative;
      width: 220px;
      height: 60px;
      line-height: 60px;
      margin-top: 25px;
      margin-right: 25px;
      border-radius: 5px;
      color: #666666;
      font-size: 28px;
      text-align: center;
      background: #EFECEC;
      overflow: hidden;

      &.active {
        background: $primary;
        color: #fff;
      }

      image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 30px;
      }
    }
  }
}
