.icon-book {
  width: 32rpx;
  height: 32rpx;
}

.icon-flag {
  width: 32rpx;
  height: 32rpx;
}

.icon-add-gray {
  width: 56rpx;
  height: 56rpx;
}

.icon-date {
  width: 32rpx;
  height: 32rpx;
}

.icon-add-primary {
  width: 32rpx;
  height: 32rpx;
}

.icon-money-primary {
  width: 32rpx;
  height: 32rpx;
}

.icon-user {
  width: 24rpx;
  height: 24rpx;
}

.icon-arrow-right {
  width: 20rpx;
  height: 30rpx;
}

.icon-image-book {
  width: 60rpx;
  height: 75rpx;
  border-radius: 5rpx;
}

.ionc-category {
  width: 32rpx;
  height: 32rpx;
}

.icon-money {
  width: 32rpx;
  height: 32rpx;
}

.icon-time {
  width: 32rpx;
  height: 32rpx;
}

.icon-user-gray {
  width: 32rpx;
  height: 32rpx;
}

.icon-date-primary {
  width: 36rpx;
  height: 36rpx;
}

.icon-wx {
  width: 35rpx;
  height: 29rpx;
}

.icon-logo {
  width: 144rpx;
  height: 144rpx;
}

.icon-arrow-down {
  width: 20px;
  height: 12px;
}

.icon-filter, .icon-filter-active {
  width: 43px;
  height: 35px;
}
