.icon-book {
  width: 32rpx;
  height: 32rpx;
}

.icon-flag {
  width: 32rpx;
  height: 32rpx;
}

.icon-add-gray {
  width: 56rpx;
  height: 56rpx;
}

.icon-date {
  width: 32rpx;
  height: 32rpx;
}

.icon-add-primary {
  width: 32rpx;
  height: 32rpx;
}

.icon-money-primary {
  width: 32rpx;
  height: 32rpx;
}

.icon-user {
  width: 24rpx;
  height: 24rpx;
}
