.container {
  box-sizing: border-box;
  padding: 0 70rpx;
  background: #fff;
}

.box-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120rpx 0 52rpx;
  border-bottom: 1rpx solid #E6E6E6;
}

.box-logo image {
  width: 158rpx;
  height: 158rpx;
  margin-bottom: 14rpx;
}

.box-logo text {
  font-family: PingFang-SC-Semibold;
  font-size: 40rpx;
  color: #000000;
  letter-spacing: 0.62rpx;
}

.box-content {
  margin-top: 47rpx;
  text-align: left;
}

.box-content view {
  font-size: 32rpx;
  letter-spacing: 0.5rpx;
}

.box-content .title {
  font-family: PingFang-SC-Medium;
  color: #000000;
  margin-bottom: 20rpx;
}

.box-content .intro {
  font-family: PingFang-SC-Regular;
  color: #4A4A4A;
  display: flex;
  align-items: center;
}

.box-content .intro:before {
  content: '・';
}

.box-content button {
  letter-spacing: 0.56rpx;
  margin-top: 80rpx;
}
