const { IP, NODE_ENV = 'development', PORT = 4000 } = process.env;

const environmentConfig = {
  development: {
    apiOrigin: `http://${IP}:${PORT}`,
    cloudEnv: ''
  },
  production: {
    apiOrigin: '',
    cloudEnv: ''
  },
}

export const { apiOrigin, cloudEnv } = environmentConfig[NODE_ENV]
