@import './styles/color';
@import './styles/share';

view,
navigator,
form {
  display: block;
  box-sizing: border-box;
  font-size: 28rpx;
}

text {
  font-size: inherit;
}

image {
  vertical-align: top;
}

.hidden {
  display: none;
}

@mixin text-overflow($row: 1) {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.text-overflow-1 {
  @include text-overflow;
}

.text-overflow-2 {
  @include text-overflow(2);
}

.text-danger {
  color: $red !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix;
}

button:after {
  border: none;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80rpx;
  border-radius: 40rpx;
  background: $primary;
  font-size: 32rpx;
  text-align: center;
  color: #fff;

  image {
    margin-right: 7px;
  }

  &.border {
    background: transparent;
    border: 1rpx solid $primary;
    color: $primary;
  }

  &.red {
    background: $red;
  }

  &.gray {
    background: #fff;
    border: 1px solid #666666;
    color: #666666;
  }

  &.fixed {
    width: 630rpx;
    position: fixed;
    bottom: 50rpx;
    left: 50%;
    transform: translateX(-50%);
  }
}

.load-more {
  border-color: #D8D8D8 !important;
  margin: 100rpx auto !important;

  view {
    color: #999999;
  }
}
